.classpath
.project
.settings
build
dist
lib
*.iml
/bin/it/csi/mdpnew/mdpiuvsrv/business/mdpiuv/interfaces/MdpiuvBusinessInterface.class
/bin/it/csi/mdpnew/mdpiuvsrv/business/mdpiuv/MdpiuvBean.class
/bin/it/csi/mdpnew/mdpiuvsrv/business/mdpiuv/MdpiuvHome.class
/bin/it/csi/mdpnew/mdpiuvsrv/business/mdpiuv/MdpiuvImpl.class
/bin/it/csi/mdpnew/mdpiuvsrv/business/mdpiuv/MdpiuvLocal.class
/bin/it/csi/mdpnew/mdpiuvsrv/business/mdpiuv/MdpiuvLocalHome.class
/bin/it/csi/mdpnew/mdpiuvsrv/business/mdpiuv/MdpiuvRemote.class
/bin/it/csi/mdpnew/mdpiuvsrv/dto/mdpiuv/AbstractDTO.class
/bin/it/csi/mdpnew/mdpiuvsrv/dto/mdpiuv/ApplicationcustomfieldsDTO.class
/bin/it/csi/mdpnew/mdpiuvsrv/dto/mdpiuv/ConfigDTO.class
/bin/it/csi/mdpnew/mdpiuvsrv/dto/mdpiuv/DescrizioneApplicativoDTO.class
/bin/it/csi/mdpnew/mdpiuvsrv/dto/mdpiuv/GatewayDTO.class
/bin/it/csi/mdpnew/mdpiuvsrv/dto/mdpiuv/IuvAttributeDTO.class
/bin/it/csi/mdpnew/mdpiuvsrv/dto/mdpiuv/ProvaEntita.class
/bin/it/csi/mdpnew/mdpiuvsrv/exception/mdpiuv/ErrorParameterException.class
/bin/it/csi/mdpnew/mdpiuvsrv/exception/mdpiuv/MdpIuvSrvException.class
/bin/it/csi/mdpnew/mdpiuvsrv/integration/mdpiuv/dao/AbstractDao.class
/bin/it/csi/mdpnew/mdpiuvsrv/integration/mdpiuv/dao/impl/MdpDaoImpl$ApplicationcustomfieldsDTOMapper.class
/bin/it/csi/mdpnew/mdpiuvsrv/integration/mdpiuv/dao/impl/MdpDaoImpl$ConfigDTOMapper.class
/bin/it/csi/mdpnew/mdpiuvsrv/integration/mdpiuv/dao/impl/MdpDaoImpl$EnteIDApplicationDTOMapper.class
/bin/it/csi/mdpnew/mdpiuvsrv/integration/mdpiuv/dao/impl/MdpDaoImpl$GatewayDTOMapper.class
/bin/it/csi/mdpnew/mdpiuvsrv/integration/mdpiuv/dao/impl/MdpDaoImpl$IuvAttributeDTOMapper.class
/bin/it/csi/mdpnew/mdpiuvsrv/integration/mdpiuv/dao/impl/MdpDaoImpl.class
/bin/it/csi/mdpnew/mdpiuvsrv/integration/mdpiuv/dao/interfacce/MdpDao.class
/bin/it/csi/mdpnew/mdpiuvsrv/interfacecsi/mdpiuv/MdpiuvSrv.class
/bin/it/csi/mdpnew/mdpiuvsrv/util/CreditorReference.class
/bin/it/csi/mdpnew/mdpiuvsrv/util/MdpiuvConstants.class
/bin/it/csi/mdpnew/mdpiuvsrv/util/ObjectStreamer.class
/bin/it/csi/mdpnew/mdpiuvsrv/util/Utility.class
/bin/it/csi/mdpnew/mdpiuvsrv/webservice/dto/BaseResultWs.class
/bin/it/csi/mdpnew/mdpiuvsrv/webservice/dto/GetArrayResultWS.class
/bin/it/csi/mdpnew/mdpiuvsrv/webservice/dto/GetStringaResultWs.class
/bin/it/csi/mdpnew/mdpiuvsrv/webservice/IuvComplex.class
/bin/it/csi/mdpnew/mdpiuvsrv/webservice/MdpiuvWSImpl.class
/bin/it/csi/mdpnew/mdpiuvsrv/webservice/MdpiuvWSInterface.class
/bin/mdpiuvsrv/Decrypt.class
/WebContent/META-INF/MANIFEST.MF
/WebContent/WEB-INF/web.xml
