.classpath
.project
build/
dist/
lib/
actamidd.log
*.iml
/bin/CatalogoDatiInformativi_1_0_7.xsd
/bin/CatalogoDatiInformativi_1_0_8.xsd
/bin/db.properties
/bin/FlussoRiversamento_1_0_3.xsd
/bin/FlussoRiversamento_1_0_4.xsd
/bin/InoltroFlussiRendicontazioneEstesi$1.class
/bin/InoltroFlussiRendicontazioneEstesi.class
/bin/InoltroFlussiRendicontazioneEstesiBCK$1.class
/bin/InoltroFlussiRendicontazioneEstesiBCK.class
/bin/it/csi/mdp/mdpetl/application/AccessoDatabaseFlussiRendicontazione.class
/bin/it/csi/mdp/mdpetl/application/InoltroFlussiRendicontazione$1.class
/bin/it/csi/mdp/mdpetl/application/InoltroFlussiRendicontazione.class
/bin/it/csi/mdp/mdpetl/application/InoltroFlussiRendicontazioneEstesi$1.class
/bin/it/csi/mdp/mdpetl/application/InoltroFlussiRendicontazioneEstesi.class
/bin/it/csi/mdp/mdpetl/application/InoltroRT$1.class
/bin/it/csi/mdp/mdpetl/application/InoltroRT.class
/bin/it/csi/mdp/mdpetl/application/InvioDifferitoRPT$PassaErroriDiValidazioneEventHandler.class
/bin/it/csi/mdp/mdpetl/application/InvioDifferitoRPT.class
/bin/it/csi/mdp/mdpetl/application/InvioEsitoPag.class
/bin/it/csi/mdp/mdpetl/application/InvioEsitoPagCodNove.class
/bin/it/csi/mdp/mdpetl/application/InvioEsitoPagCodZeroSenzaRT.class
/bin/it/csi/mdp/mdpetl/application/InvocaServizio.class
/bin/it/csi/mdp/mdpetl/application/InvocaServizioFlussiRendicontazione$NotificaFallitoInvioRTAlFruitoreThread.class
/bin/it/csi/mdp/mdpetl/application/InvocaServizioFlussiRendicontazione.class
/bin/it/csi/mdp/mdpetl/application/ReinvioReceipt.class
/bin/it/csi/mdp/mdpetl/application/ReinvioRT$1.class
/bin/it/csi/mdp/mdpetl/application/ReinvioRT.class
/bin/it/csi/mdp/mdpetl/application/ReportNodoSpcExec.class
/bin/it/csi/mdp/mdpetl/application/SaveToDatabase.class
/bin/it/csi/mdp/mdpetl/dto/BaseDTO.class
/bin/it/csi/mdp/mdpetl/dto/CodaInvioReceipt.class
/bin/it/csi/mdp/mdpetl/dto/CodaInvioRpt.class
/bin/it/csi/mdp/mdpetl/dto/CodaInvioRT.class
/bin/it/csi/mdp/mdpetl/dto/Configurazione.class
/bin/it/csi/mdp/mdpetl/dto/DatiPagamentoDaIuv.class
/bin/it/csi/mdp/mdpetl/dto/DatiReceiptNonInviata.class
/bin/it/csi/mdp/mdpetl/dto/DatiRicevutaNonInviata.class
/bin/it/csi/mdp/mdpetl/dto/DatiRichiesta.class
/bin/it/csi/mdp/mdpetl/dto/DatiRichiestaGetPayment.class
/bin/it/csi/mdp/mdpetl/dto/DatiRichiestaNonInviata.class
/bin/it/csi/mdp/mdpetl/dto/DatiRichiestaReceipt.class
/bin/it/csi/mdp/mdpetl/dto/FasciaCostoServizio.class
/bin/it/csi/mdp/mdpetl/dto/FlussoRendicontazione.class
/bin/it/csi/mdp/mdpetl/dto/FlussoSingoloPagamento.class
/bin/it/csi/mdp/mdpetl/dto/InformativePSP.class
/bin/it/csi/mdp/mdpetl/dto/InformazioniServizio.class
/bin/it/csi/mdp/mdpetl/dto/IuvOttico.class
/bin/it/csi/mdp/mdpetl/dto/KeyValue.class
/bin/it/csi/mdp/mdpetl/dto/LoggingFlusso.class
/bin/it/csi/mdp/mdpetl/dto/LoggingFlussoBase.class
/bin/it/csi/mdp/mdpetl/dto/LoggingFlussoEsteso.class
/bin/it/csi/mdp/mdpetl/dto/LoggingReceipt.class
/bin/it/csi/mdp/mdpetl/dto/LoggingRT.class
/bin/it/csi/mdp/mdpetl/dto/MdpStatistiche.class
/bin/it/csi/mdp/mdpetl/dto/ParametroNodo.class
/bin/it/csi/mdp/mdpetl/dto/ParametroNodoV2.class
/bin/it/csi/mdp/mdpetl/dto/Receipt.class
/bin/it/csi/mdp/mdpetl/dto/ReportNodoSpc.class
/bin/it/csi/mdp/mdpetl/dto/ReportTransazioni.class
/bin/it/csi/mdp/mdpetl/dto/RT.class
/bin/it/csi/mdp/mdpetl/dto/SingoloPagamentoMultiVersamentoDTO.class
/bin/it/csi/mdp/mdpetl/integration/util/connection/ConnectionJdbc.class
/bin/it/csi/mdp/mdpetl/integration/util/connection/ConnectionManager.class
/bin/it/csi/mdp/mdpetl/integration/util/connection/ConnectionManagerFactory.class
/bin/it/csi/mdp/mdpetl/integration/util/dao/AggiornaCodaInvioReceiptInvioFallitoDAO.class
/bin/it/csi/mdp/mdpetl/integration/util/dao/AggiornaCodaInvioRtInvioFallitoDAO.class
/bin/it/csi/mdp/mdpetl/integration/util/dao/AggiornaContatoreTentativiCodaInvioRtDAO.class
/bin/it/csi/mdp/mdpetl/integration/util/dao/AggiornaDataInizioTentativiCodaInvioReceiptDAO.class
/bin/it/csi/mdp/mdpetl/integration/util/dao/AggiornaDataInizioTentativiCodaInvioRtDAO.class
/bin/it/csi/mdp/mdpetl/integration/util/dao/AggiornaDataTentativiCodaInvioReceiptDAO.class
/bin/it/csi/mdp/mdpetl/integration/util/dao/AggiornaDataTentativiCodaInvioRtDAO.class
/bin/it/csi/mdp/mdpetl/integration/util/dao/AggiornaFlussoSingoloPagamentoDAO.class
/bin/it/csi/mdp/mdpetl/integration/util/dao/AggiornaMDPGetPaymentDAO.class
/bin/it/csi/mdp/mdpetl/integration/util/dao/AggiornaRPTInviataDAO.class
/bin/it/csi/mdp/mdpetl/integration/util/dao/AggiornaStatoFlussoSingoloPagamentoDAO.class
/bin/it/csi/mdp/mdpetl/integration/util/dao/AggiornaStatoFlussoSingoloPagamentoDAOInErrore.class
/bin/it/csi/mdp/mdpetl/integration/util/dao/AggiornaStatoInvioFruitoreReceipt.class
/bin/it/csi/mdp/mdpetl/integration/util/dao/AggiornaStatoInvioFruitoreRT.class
/bin/it/csi/mdp/mdpetl/integration/util/dao/AggiornaStatoInvioRT.class
/bin/it/csi/mdp/mdpetl/integration/util/dao/AggiornaStatoReceiptInviataDAO.class
/bin/it/csi/mdp/mdpetl/integration/util/dao/AggiornaStatoRPTInviataDAO.class
/bin/it/csi/mdp/mdpetl/integration/util/dao/ApplicationIdExtractor.class
/bin/it/csi/mdp/mdpetl/integration/util/dao/ApplicationIdRPTExtractor.class
/bin/it/csi/mdp/mdpetl/integration/util/dao/ArchiviaFasceCostoServizioOldDAO.class
/bin/it/csi/mdp/mdpetl/integration/util/dao/ArchiviaInformazioniServizioOldDAO.class
/bin/it/csi/mdp/mdpetl/integration/util/dao/BaseDAO.class
/bin/it/csi/mdp/mdpetl/integration/util/dao/BaseDAOI.class
/bin/it/csi/mdp/mdpetl/integration/util/dao/ConfigurazioneExtractor.class
/bin/it/csi/mdp/mdpetl/integration/util/dao/CountExtractor.class
/bin/it/csi/mdp/mdpetl/integration/util/dao/CountFlussoRiversamentoPerIdentificativoFlussoDAO$CountFlussoRendicontazioneExtractor.class
/bin/it/csi/mdp/mdpetl/integration/util/dao/CountFlussoRiversamentoPerIdentificativoFlussoDAO.class
/bin/it/csi/mdp/mdpetl/integration/util/dao/DateExtractor.class
/bin/it/csi/mdp/mdpetl/integration/util/dao/DatiPagamentoDaIuvExtractor.class
/bin/it/csi/mdp/mdpetl/integration/util/dao/DatiReceiptNonInviataExtractor.class
/bin/it/csi/mdp/mdpetl/integration/util/dao/DatiRicevutaNonInviataExtractor.class
/bin/it/csi/mdp/mdpetl/integration/util/dao/DatiRichiestaExtractor.class
/bin/it/csi/mdp/mdpetl/integration/util/dao/DatiRichiestaGetPaymentExtractor.class
/bin/it/csi/mdp/mdpetl/integration/util/dao/DatiRichiestaNonInviataExtractor.class
/bin/it/csi/mdp/mdpetl/integration/util/dao/DatiRichiestaReceiptExtractor.class
/bin/it/csi/mdp/mdpetl/integration/util/dao/DeleteInformativePSPDAO.class
/bin/it/csi/mdp/mdpetl/integration/util/dao/DeleteReceiptCodaInviateDAO.class
/bin/it/csi/mdp/mdpetl/integration/util/dao/DeleteRtCodaInviateDAO.class
/bin/it/csi/mdp/mdpetl/integration/util/dao/ElencoPSP.class
/bin/it/csi/mdp/mdpetl/integration/util/dao/EstraiApplicationIdDaIuvDAO.class
/bin/it/csi/mdp/mdpetl/integration/util/dao/EstraiApplicationIdDaRPTDAO.class
/bin/it/csi/mdp/mdpetl/integration/util/dao/EstraiConfigurazioneDAO.class
/bin/it/csi/mdp/mdpetl/integration/util/dao/EstraiDataOraFlussoDAO.class
/bin/it/csi/mdp/mdpetl/integration/util/dao/EstraiDatiPagamentoDaIuvDAO.class
/bin/it/csi/mdp/mdpetl/integration/util/dao/EstraiFlussiRiversamento.class
/bin/it/csi/mdp/mdpetl/integration/util/dao/EstraiFlussoSingoloPagamentoDAO.class
/bin/it/csi/mdp/mdpetl/integration/util/dao/EstraiFlussoSingoloPagamentoPerCodiciNoveDAO.class
/bin/it/csi/mdp/mdpetl/integration/util/dao/EstraiFlussoSingoloPagamentoSenzaReceiptInStatoInviatoDAO.class
/bin/it/csi/mdp/mdpetl/integration/util/dao/EstraiGetPaymentPerIuvDominioDAO.class
/bin/it/csi/mdp/mdpetl/integration/util/dao/EstraiIdentificativiPSPDAO.class
/bin/it/csi/mdp/mdpetl/integration/util/dao/EstraiListaTipoVersamentoNotSupportedDAO.class
/bin/it/csi/mdp/mdpetl/integration/util/dao/EstraiMultiversamentoDAO.class
/bin/it/csi/mdp/mdpetl/integration/util/dao/EstraiMultiversamentoPerIuvAndFiscalCodeGetPaymentDAO.class
/bin/it/csi/mdp/mdpetl/integration/util/dao/EstraiMultiversamentoPerIuvAndFiscalCodeReceiptDAO.class
/bin/it/csi/mdp/mdpetl/integration/util/dao/EstraiMultiversamentoPerIuvAndTransactionIdDAO$MultiversamentoExtractor.class
/bin/it/csi/mdp/mdpetl/integration/util/dao/EstraiMultiversamentoPerIuvAndTransactionIdDAO.class
/bin/it/csi/mdp/mdpetl/integration/util/dao/EstraiReceiptPerIuvDominioDAO.class
/bin/it/csi/mdp/mdpetl/integration/util/dao/EstraiReceiptPerIuvSconosciutoDAO.class
/bin/it/csi/mdp/mdpetl/integration/util/dao/EstraiReceiptStatoInvioFruitoreNullDAO.class
/bin/it/csi/mdp/mdpetl/integration/util/dao/EstraiRicevuteNonInviateDAO.class
/bin/it/csi/mdp/mdpetl/integration/util/dao/EstraiRicevuteNonInviateDataPrioritariaDAO.class
/bin/it/csi/mdp/mdpetl/integration/util/dao/EstraiRicevuteNonInviateDataPrioritariaIdApplicationDAO.class
/bin/it/csi/mdp/mdpetl/integration/util/dao/EstraiRicevuteNonInviateDataPrioritariaIdApplicationReceiptDAO.class
/bin/it/csi/mdp/mdpetl/integration/util/dao/EstraiRicevuteNonInviateDataPrioritariaReceiptDAO.class
/bin/it/csi/mdp/mdpetl/integration/util/dao/EstraiRicevuteNonInviateReceiptDAO.class
/bin/it/csi/mdp/mdpetl/integration/util/dao/EstraiRichiestePagamentoDaInviareDAO.class
/bin/it/csi/mdp/mdpetl/integration/util/dao/EstraiRichiestePagamentoPerIuvDAO.class
/bin/it/csi/mdp/mdpetl/integration/util/dao/EstraiRPTPerIuvAndTransactionIdDAO$RPTExtractor.class
/bin/it/csi/mdp/mdpetl/integration/util/dao/EstraiRPTPerIuvAndTransactionIdDAO.class
/bin/it/csi/mdp/mdpetl/integration/util/dao/EstraiRPTPerIuvDAO$RPTExtractor.class
/bin/it/csi/mdp/mdpetl/integration/util/dao/EstraiRPTPerIuvDAO.class
/bin/it/csi/mdp/mdpetl/integration/util/dao/EstraiRTDaInviareDAO.class
/bin/it/csi/mdp/mdpetl/integration/util/dao/EstraiRTPagamentoEseguitoPerIuvDAO$RTExtractor.class
/bin/it/csi/mdp/mdpetl/integration/util/dao/EstraiRTPagamentoEseguitoPerIuvDAO.class
/bin/it/csi/mdp/mdpetl/integration/util/dao/EstraiRTStatoInvioFuitoreNullDAO.class
/bin/it/csi/mdp/mdpetl/integration/util/dao/EstraiTransactionIdDaIuvDAO.class
/bin/it/csi/mdp/mdpetl/integration/util/dao/FiltroFlussi.class
/bin/it/csi/mdp/mdpetl/integration/util/dao/FiltroFlussiFlagInvioEnum.class
/bin/it/csi/mdp/mdpetl/integration/util/dao/FlussoNextvalDAO.class
/bin/it/csi/mdp/mdpetl/integration/util/dao/FlussoRiversamentoExtractor.class
/bin/it/csi/mdp/mdpetl/integration/util/dao/flussosingolopagamento/UpdateFlussoSingoloPagamentoDAO.class
/bin/it/csi/mdp/mdpetl/integration/util/dao/FlussoSingoloPagamentoExtractor.class
/bin/it/csi/mdp/mdpetl/integration/util/dao/FlussoSingoloPagamentoExtractorPerCodNove.class
/bin/it/csi/mdp/mdpetl/integration/util/dao/FlussoSingoloPagamentoExtractorSenzaReceipt.class
/bin/it/csi/mdp/mdpetl/integration/util/dao/GenericObjectArrayStatementMapper.class
/bin/it/csi/mdp/mdpetl/integration/util/dao/InserisciFasciaCostoServizioBCKDAO.class
/bin/it/csi/mdp/mdpetl/integration/util/dao/InserisciFasciaCostoServizioDAO.class
/bin/it/csi/mdp/mdpetl/integration/util/dao/InserisciFlussoRiversamentoDAO.class
/bin/it/csi/mdp/mdpetl/integration/util/dao/InserisciFlussoSingoloPagamentoDAO.class
/bin/it/csi/mdp/mdpetl/integration/util/dao/InserisciGiornaleEventiDAO.class
/bin/it/csi/mdp/mdpetl/integration/util/dao/InserisciInformativePSPBCKDAO.class
/bin/it/csi/mdp/mdpetl/integration/util/dao/InserisciInformativePSPDAO.class
/bin/it/csi/mdp/mdpetl/integration/util/dao/InserisciInformazioniServizioBCKDAO.class
/bin/it/csi/mdp/mdpetl/integration/util/dao/InserisciInformazioniServizioDAO.class
/bin/it/csi/mdp/mdpetl/integration/util/dao/InserisciLoggingFlussoDAO.class
/bin/it/csi/mdp/mdpetl/integration/util/dao/InserisciLoggingReceiptDAO.class
/bin/it/csi/mdp/mdpetl/integration/util/dao/InserisciLoggingRTDAO.class
/bin/it/csi/mdp/mdpetl/integration/util/dao/InserisciMdpStatisticheDAO.class
/bin/it/csi/mdp/mdpetl/integration/util/dao/InserisciRtCodaInvioDAO.class
/bin/it/csi/mdp/mdpetl/integration/util/dao/ListaTipoVersamento.class
/bin/it/csi/mdp/mdpetl/integration/util/dao/ModificaInformativePSPDAO.class
/bin/it/csi/mdp/mdpetl/integration/util/dao/ModificaReceiptInvioFallitoDAO.class
/bin/it/csi/mdp/mdpetl/integration/util/dao/ModificaReceiptInvioRiuscitoDAO.class
/bin/it/csi/mdp/mdpetl/integration/util/dao/ModificaRTDataInvioFallitoDAO.class
/bin/it/csi/mdp/mdpetl/integration/util/dao/ModificaRTInvioRiuscitoDAO.class
/bin/it/csi/mdp/mdpetl/integration/util/dao/ModificaStatoInformativePSPDAO.class
/bin/it/csi/mdp/mdpetl/integration/util/dao/ModificaStatoInvioFlussiDAO.class
/bin/it/csi/mdp/mdpetl/integration/util/dao/MultiversamentoExtractor.class
/bin/it/csi/mdp/mdpetl/integration/util/dao/NextValFlussoExtractor.class
/bin/it/csi/mdp/mdpetl/integration/util/dao/ParametriNodoSpcDAO.class
/bin/it/csi/mdp/mdpetl/integration/util/dao/re/BigDecimalResultSetExtractor.class
/bin/it/csi/mdp/mdpetl/integration/util/dao/re/BigDecimalZeroResultSetExtractor.class
/bin/it/csi/mdp/mdpetl/integration/util/dao/re/ClobResultSetExtractor.class
/bin/it/csi/mdp/mdpetl/integration/util/dao/re/CountResultSetExtractor.class
/bin/it/csi/mdp/mdpetl/integration/util/dao/re/DateResultSetExtractor.class
/bin/it/csi/mdp/mdpetl/integration/util/dao/re/DoubleResultSetExtractor.class
/bin/it/csi/mdp/mdpetl/integration/util/dao/re/EmptyStatementMapper.class
/bin/it/csi/mdp/mdpetl/integration/util/dao/re/IntegerResultSetExtractor.class
/bin/it/csi/mdp/mdpetl/integration/util/dao/re/ObjectResultSetExtractor.class
/bin/it/csi/mdp/mdpetl/integration/util/dao/re/ObjectsListResultSetExtractor.class
/bin/it/csi/mdp/mdpetl/integration/util/dao/re/PersistenceField.class
/bin/it/csi/mdp/mdpetl/integration/util/dao/re/StringArrayListResultSetExtractor.class
/bin/it/csi/mdp/mdpetl/integration/util/dao/re/StringArrayResultSetExtractor.class
/bin/it/csi/mdp/mdpetl/integration/util/dao/re/StringResultSetExtractor.class
/bin/it/csi/mdp/mdpetl/integration/util/dao/ReceiptEsitoNullExtractor.class
/bin/it/csi/mdp/mdpetl/integration/util/dao/ReportNodoSpcDAO.class
/bin/it/csi/mdp/mdpetl/integration/util/dao/ReportParametriDAO.class
/bin/it/csi/mdp/mdpetl/integration/util/dao/ReportTransazioniDAO.class
/bin/it/csi/mdp/mdpetl/integration/util/dao/ResultSetExtractor.class
/bin/it/csi/mdp/mdpetl/integration/util/dao/RTEsitoNullExtractor.class
/bin/it/csi/mdp/mdpetl/integration/util/dao/RTExtractor.class
/bin/it/csi/mdp/mdpetl/integration/util/dao/sm/GenericObjectArrayStatementMapper.class
/bin/it/csi/mdp/mdpetl/integration/util/dao/sm/StatementMapperUtils.class
/bin/it/csi/mdp/mdpetl/integration/util/dao/StatementMapper.class
/bin/it/csi/mdp/mdpetl/integration/util/dao/StatementMapperUtils.class
/bin/it/csi/mdp/mdpetl/integration/util/dao/StatoInvioFlussoEnum.class
/bin/it/csi/mdp/mdpetl/integration/util/dao/StatoInvioRTEnum.class
/bin/it/csi/mdp/mdpetl/integration/util/dao/TransactionIdExtractor.class
/bin/it/csi/mdp/mdpetl/integration/util/dao/VerificaFlussoGiaPresenteDAO.class
/bin/it/csi/mdp/mdpetl/Main.class
/bin/it/csi/mdp/mdpetl/MainFlussiRendicontazione.class
/bin/it/csi/mdp/mdpetl/MainInvioDifferitoRPT.class
/bin/it/csi/mdp/mdpetl/MainInvioEsitoPagCodNove.class
/bin/it/csi/mdp/mdpetl/MainInvioEsitoPagCodZeroSenzaRT.class
/bin/it/csi/mdp/mdpetl/MainReinvioReceipt.class
/bin/it/csi/mdp/mdpetl/MainReinvioRT.class
/bin/it/csi/mdp/mdpetl/MainReportNodoSpc.class
/bin/it/csi/mdp/mdpetl/MainReportTransazioni.class
/bin/it/csi/mdp/mdpetl/MainRiconciliazioneFlussi.class
/bin/it/csi/mdp/mdpetl/MainRiconciliazioneFlussiEstesi.class
/bin/it/csi/mdp/mdpetl/MainRiconciliazioneRT.class
/bin/it/csi/mdp/mdpetl/util/CommonCliUtil$Report.class
/bin/it/csi/mdp/mdpetl/util/CommonCliUtil.class
/bin/it/csi/mdp/mdpetl/util/Constants.class
/bin/it/csi/mdp/mdpetl/util/LogUtil.class
/bin/it/csi/mdp/mdpetl/util/mail/Attached.class
/bin/it/csi/mdp/mdpetl/util/mail/MailData.class
/bin/it/csi/mdp/mdpetl/util/mail/MailUtil.class
/bin/it/csi/mdp/mdpetl/util/mail/MimeType.class
/bin/it/csi/mdp/mdpetl/util/NumberUtil.class
/bin/it/csi/mdp/mdpetl/util/SSLUtils.class
/bin/it/csi/mdp/mdpetl/util/StringUtils.class
/bin/it/csi/mdp/mdpetl/util/Timekeeper.class
/bin/it/csi/mdp/mdpetl/util/UtilDate.class
/bin/it/csi/mdp/mdpetl/util/Utility.class
/bin/log4j.properties
/bin/mail.properties
/bin/MarcaDaBollo.xsd
/bin/NodoPerPa-soapui-project.xml
/bin/PagInf_RPT_RT_6_2_0.xsd
/bin/RibaltaRT.class
/bin/skeydb.properties
/bin/skeydb.txt
